<h1>
    Your Orders
</h1>
<table class="table table-bordered table-striped ">
    <thead class="text-bg-dark">
        <tr>
        
            <th>
                Order Address
            </th>
            <th>
                Contact Number
            </th>
            <th>
                Order Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody class="bg-white">

            <tr >
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
              
                </td>
            </tr>
        
    </tbody>
</table>
