@model List<Ecommerce.ViewModel.ViewOrderitemVM>
<table class="table table-bordered table-striped ">
    <thead class="text-bg-dark">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Basic Total
            </th>

        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach (var obj in @Model)
        {
            <tr>
                <td>
                    @obj.productname
                </td>
                <td>
                    @obj.quantity
                </td>
                <td>
                    @obj.basictotal
                </td>

            </tr>
        }
    </tbody>


</table>
<div class="d-flex justify-content-between align-items-center">
<h1>
    Total:
    @Model.Sum(item => item.basictotal)
</h1>
<a class="btn btn-primary py-0" asp-controller="Order" asp-action="UserOrder">Go Back</a>
</div>
